<nav class="navbar navbar-dark bg-dark navbar-expand-sm mt-3">
    <a class="navbar-brand" href="#">National Cookies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list-2">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" (click)="goToPage('home')">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="goToPage('cookies')">Cookie</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Order</a>
              </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>